.one {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_0230.PNG');
    background-position: center;
    background-size: cover;
}

.two {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_0231.PNG');
    background-position: center;
    background-size: cover;
}

.three {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_0245.PNG');
    background-position: center;
    background-size: cover;
}

.four {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_0233.PNG');
    background-position: center;
    background-size: cover;
}

.five {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_0234.PNG');
    background-position: center;
    background-size: cover;
}

.six {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_9408.PNG');
    background-position: center;
    background-size: cover;
}

.seven {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_0236.PNG');
    background-position: center;
    background-size: cover;
}

.eight {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_0237.PNG');
    background-position: center;
    background-size: cover;
}

.nine {
    background-image: url('https://storage.googleapis.com/allprojectsdata/nakedzerosalon/insta/IMG_0242.PNG');
    background-position: center;
    background-size: cover;
}